<!DOCTYPE html>

<html>

<head>
  <title>SVG Polygonal Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="menu">
    <svg width="0" height="0">
      <clipPath id="clipPolygon">
        <polygon points="10 25,0 200,220 200,220 0,0 0"></polygon>
      </clipPath>
    </svg>
    <div class="clip-holder">
      <div class="clip">
        <ul class="menu-list">
          <li>
            <a class="menu-item-link" href="#">
              <span>
                Menu link
              </span>
            </a>
          </li>
          <li>
            <a class="menu-item-link" href="#">
              <span>
                Menu link
              </span>
            </a>
          </li>
          <li>
            <a class="menu-item-link" href="#">
              <span>
                Menu link
              </span>
            </a>
          </li>
          <li>
            <a class="menu-item-link" href="#">
              <span>
                Menu link
              </span>
            </a>
          </li>
          <li>
            <a class="menu-item-link" href="#">
              <span>
                Menu link
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-content-items">
      <div class="menu-content-item">
        <div class="menu-content-item-table">
          <div class="menu-content-item-cell">
            <div class="menu-content-item-caption">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit
            </div>
          </div>
        </div>
      </div>
      <div class="menu-content-item">
        <div class="menu-content-item-table">
          <div class="menu-content-item-cell">
            <div class="menu-content-item-caption">
              Aenean commodo ligula eget dolor
            </div>
          </div>
        </div>
      </div>
      <div class="menu-content-item">
        <div class="menu-content-item-table">
          <div class="menu-content-item-cell">
            <div class="menu-content-item-caption">
              Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes
            </div>
          </div>
        </div>
      </div>
      <div class="menu-content-item">
        <div class="menu-content-item-table">
          <div class="menu-content-item-cell">
            <div class="menu-content-item-caption">
              Nulla consequat massa quis enim. Donec pede justo
            </div>
          </div>
        </div>
      </div>
      <div class="menu-content-item">
        <div class="menu-content-item-table">
          <div class="menu-content-item-cell">
            <div class="menu-content-item-caption">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/menu.js"></script>
</body>

</html>